body {
  background-color: #e4edff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  margin-bottom: 10px;
}

/* -------------- Star System CSS --------- */
.system-container {
  display: flex;
  align-items: center;
}
.star {
  width: 200px;
  height: 200px;
  margin: 15px;
  border-radius: 50%;
  background-color: #ffd900;
  animation: sunGlow 1s infinite alternate;
}
@keyframes sunGlow {
  from {
    box-shadow: 0 0 10px 8px #FFC400;
  } to {
    box-shadow: 0 0 10px 10px #FFC400;
  }
}

.planet {
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



/* -------------- Popup CSS --------------- */
.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/* Animation */
@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}


/* .fas {
  display: block;
}

.sort-icons {
  display: inline-block;
} */


